@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 >Política de Privacidad</h1>

<p class="mb-5">Fecha de última actualización: 21 de febrero de 2025</p>

<h2>Información que recopilamos</h2>
<p>
    En PlatziWebSite , recopilamos la siguiente información:
<ul>
    <li>Información de contacto: nombre, dirección de correo electrónico, número de teléfono (si aplica).</li>
    <li>Información demográfica: edad, ubicación (si aplica).</li>
    <li>Información de uso: páginas visitadas, tiempo de permanencia en el sitio, enlaces esperado.</li>
    <li>Datos del dispositivo: tipo de dispositivo, sistema operativo, navegador.</li>
</ul>
</p>

<h2>Cómo utilizamos tu información</h2>
<p>
    Utilizamos tu información para los siguientes fines:
<ul>
    <li>Proporcionar y mejorar nuestros servicios.</li>
    <li>Personalizar tu experiencia en el sitio web.</li>
    <li>Comunicarnos contigo sobre actualizaciones y promociones (si has dado tu consentimiento).</li>
    <li>Analizar el uso del sitio web y realizar estudios de mercado.</li>
    <li>Cumplir con obligaciones legales.</li>
</ul>
</p>

<h2>Con quién compartimos tu información</h2>
<p>
    Podemos compartir tu información con los siguientes terceros:
<ul>
    <li>Proveedores de servicios: empresas que nos ayudan a operar el sitio web y servicios relacionados (por ejemplo,
        alojamiento web, análisis de datos).</li>
    <li>Autoridades legales: si estamos obligados a hacerlo por ley o por orden judicial.</li>
    <li>Otras empresas: solo si tenemos tu consentimiento explícito.</li>
</ul>
</p>

<h2>Tus derechos</h2>
<p>
    Tienes derecho a acceder, rectificar y eliminar tu información personal. También puedes oponerte al tratamiento de
    tu información o solicitar su portabilidad. Para ejercer estos derechos, contáctanos a través de [información de
    contacto].
</p>

<h2>Seguridad de tu información</h2>
<p>
    Tomamos medidas de seguridad razonables para proteger tu información personal contra accesos no autorizados, uso
    indebido o divulgación. Sin embargo, ninguna transmisión de datos por Internet es completamente segura, por lo que
    no podemos garantizar la seguridad absoluta de tu información.
</p>

<h2>Cambios a esta política de privacidad</h2>
<p>
    Podemos actualizar esta política de privacidad en cualquier momento. Te notificaremos sobre cualquier cambio
    importante publicando la política actualizada en el sitio web.
</p>

<h2>Contacto</h2>
<p>
    Si tienes alguna pregunta sobre esta política de privacidad, contáctanos a través de nuestros correo.
</p>